.story-avatar-container {
    text-align: center;
    width: 65px;
    flex-shrink: 0;
}

.story-avatar-border {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 2px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
}

.story-avatar-img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    border: 2px solid #fff;
}

.story-avatar-username {
    font-size: 12px;
    margin-top: 4px;
    color: #444;
}